[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	ignore = dirty
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
	ignore = dirty
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/nfd-extended"]
	path = external/nfd-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "external/clip"]
	path = external/clip
	url = https://github.com/dacap/clip
