# build folder and build script
bin
build
lib
clean.sh
build_and_run.sh
desktop-win/build
desktop-linux/build
emscripten/build

# VS project files
.vs/
.vscode/
*.sln
*.vcxproj*

# imgui.ini
imgui.ini

# application project file
*.jrm

# VS build dir
x64/

# .gch files
*.gch

# resources
resources/assets
resources/fonts
resources/icons

# log file
log.txt
*.log

# executable
JnRMaker

cert.pem
key.pem
