# build folder and build script
build/
clean.sh
build_and_run.sh

# VS project files
.vs/
*.sln
*.vcxproj*

# imgui.ini
imgui.ini

# application project file
*.jrm

# VS build dir
x64/

# .gch files
*.gch

# tiles and textures
assets/tiles/*.*
assets/textures/*.*
assets/sprites/*.*
assets/icons/*.*

# log file
log.txt
